/* app/globals.css */

@import "tailwindcss";

/* Mengaktifkan dark mode berbasis class di Tailwind v4 */
@custom-variant dark (&:is(.dark *));

@theme {
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Mencegah transisi warna yang kasar saat halaman pertama kali dimuat */
  body {
    @apply transition-colors duration-300;
  }
}